/Developpement/Composant1/Debug
/Developpement/Composant1/Composant1/Debug
/Developpement/Composant1/Release
/Developpement/Composant1/Composant1/Release
/Developpement/Composant1/x64
/Developpement/Composant1/Composant1/x64
/Developpement/Composant1/.vs
/Developpement/Composant1/Composant5/x64
/Developpement/Composant1/Composant5/Debug
/Developpement/Composant1/Composant5/Release
/Developpement/Composant1/Composant5/x64/Debug/*
*.obj
*.pdb